body {
  background-color: #90182B;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #EEE9E9;
}

a {
  text-decoration: none;
  color: #EEE9E9;
}

h1 {
  font-size: 35px;
  text-align: center;
  white-space: pre;
}

div.title {
  display: inline-block;
  position: fixed;
  top: 0px;
  left: 30px;
}

div.menus {
  display: inline-block;
  position: fixed;
  top: 0;
  right: 0;
  margin-left: 100%;
}

#map {
  display: inline-block;
  position: fixed;
  right: 0px;
  border: 1px solid white;
  bottom: 10px;
  height: 170px;
  width: 500px;
}

div.home_menu, div.about_menu, div.events_menu,
div.submit_event_menu, div.profile_menu {
  display: inline-block;
  height:100px;
  width: 350px;
  left: 0;
  padding-top: 10px;
  padding-left: 15px;
  font-size: 40px;
  font-weight: lighter;
  letter-spacing: 5px;
}

div.home_menu {
  background-color: #0F355A;
  border: 1px solid #0F355A;
}

div.events_menu {
  background-color: #90182B;
  border: 1px solid #90182B;
}

div.submit_event_menu {
  background-color: #B8A5AE;
  border: 1px solid #B8A5AE;
}

div.profile_menu {
  background-color: #061930;
  border: 1px solid #061930;
}

article {
  display: inline-block;
  position: relative;
  top: 50px;
  left: 270px;
}

div.event {
  display: inline-block;
  position: relative;
  border: 1px solid white;
  width: 350px;
  padding: 20px;
}


div.line {
  border-left: 10px dotted white;
  height: 50px;
  margin: 10px;
  display: inline-block;
  position: relative;
  left: 170px;
}

span.event_name {
  text-align: left;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

span.event_category {
  font-style: italic;
  color: white;
}

span.event_location {
  color: white;
}

span.event_date {
  color: white;
}

span.event_description {
  color: white;
}
