body {
  background-color: #0F355A;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #EEE9E9;
}

a {
  text-decoration: none;
  color: #EEE9E9;
}

h1 {
  font-size: 35px;
  text-align: center;
  white-space: pre;
}

div.title {
  display: inline-block;
  position: fixed;
  top: 0px;
  left: 30px;
}

div.menus {
  display: inline-block;
  position: fixed;
  top: 0;
  right: 0;
  margin-left: 100%;
}

#map {
  display: inline-block;
  position: fixed;
  right: 0px;
  border: 1px solid white;
  bottom: 10px;
  height: 170px;
  width: 500px;
}

div.home_menu, div.about_menu, div.events_menu,
div.submit_event_menu, div.profile_menu {
  display: inline-block;
  height:100px;
  width: 350px;
  left: 0;
  padding-top: 10px;
  padding-left: 15px;
  font-size: 40px;
  font-weight: lighter;
  letter-spacing: 5px;
}

div.home_menu {
  background-color: #0F355A;
  border: 1px solid #0F355A;
}

div.events_menu {
  background-color: #90182B;
  border: 1px solid #90182B;
}

div.submit_event_menu {
  background-color: #B8A5AE;
  border: 1px solid #B8A5AE;
}

div.profile_menu {
  background-color: #061930;
  border: 1px solid #061930;
}

h1 {
  border: 0;
  display: inline;
  color: white;
  font-size: 36px;
  font-weight: 100;
  font-family: dosif;
  letter-spacing: 5px;
}

p {
  color: #8900f2;
  font-family: serif;
  font-size: 16px;
  letter-spacing: 4px;
  color: white;
}

#navbar {
  display: inline-block;
  position: relative;
  font-size: 90%;
  border: none;
  padding-left: 10px;

}

#navlist {
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
  text-align: center;
  display: inline-block;
  list-style: none;
  background-color: white;
  letter-spacing: 2px;
}

#header {
  background-color: #999994;
  width: 100%;
}
