body {
  background-color: #061930;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #EEE9E9;
}

a {
  text-decoration: none;
  color: #EEE9E9;
}

div.menus {
  display: inline-block;
  position: fixed;
  top: 0;
  right: 0;
  margin-left: 100%;
  top: 20%;
}

div.home_menu, div.about_menu, div.events_menu,
div.submit_event_menu, div.profile_menu {
  display: inline-block;
  height:100px;
  width: 350px;
  left: 0;
  padding-top: 10px;
  padding-left: 15px;
  font-size: 40px;
  font-weight: lighter;
  letter-spacing: 5px;
}

div.home_menu {
  background-color: #0F355A;
  border: 1px solid #0F355A;
}

div.events_menu {
  background-color: #90182B;
  border: 1px solid #90182B;
}

div.submit_event_menu {
  background-color: #B8A5AE;
  border: 1px solid #B8A5AE;
}

div.profile_menu {
  background-color: #061930;
  border: 1px solid #061930;
}

/*#a993551 {
  display: inline-block;
  position: relative;
  font-size: 90%;
  border: none;
  padding: 10px;
  background-color: #999994;
  width: 100%;
}*/

a {
  text-decoration: none;
}

#hj8769 {
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
  text-align: center;
  display: inline-block;
  list-style: none;
  background-color: white
}

h1 {
  border: 0;
  display: inline;
  color: #aaf237;
  font-size: 36px;
  font-weight: 100;
  font-family: dosif;

}

p {
  color: #8900f2;
  font-family: serif;
  font-size: 16px;
}

#wi19874 {
  border: 1px dashed #8900f2;
  display: block;
  width: 500px;
  height: 250px;
  margin-left: 30px;
}

#gh6268 {
  list-style: none;
  display: block;
  border: none;
  padding: 10px;
  color: #c1c1bb
}

#jd8765 {
  display:inline-block;
}

#hd7652 {
  display: inline-block;
}

h2 {
  color: #c1c1bb;
}
