@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

body {
  background-color: #B8A5AE;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #EEE9E9;
}

div.head_title {
  position: relative;
  top: 0px;
}

a {
  /*text-decoration: none;*/
  color: #EEE9E9;
}

h1 {
  font-size: 30px;
}

div.title {
  display: inline-block;
  position: fixed;
  bottom: 0px;
  left: 30px;
}

div.menus {
  display: inline-block;
  position: fixed;
  top: 0;
  right: 0;
  margin-left: 100%;
  font-family: 'Open Sans Condensed';
}

div.home_menu, div.events_menu,
div.submit_event_menu, div.profile_menu {
  display: inline-block;
  height:100px;
  width: 350px;
  left: 0;
  padding-top: 10px;
  padding-left: 15px;
  font-size: 40px;
  font-weight: lighter;
  letter-spacing: 5px;
  font-family: 'Open Sans Condensed';
}

div.home_menu {
  background-color: #0F355A;
  border: 1px solid #0F355A;
}

div.home_menu:hover {
  transform: scale(.8);
  transition: ease 1s;
}

div.events_menu {
  background-color: #90182B;
  border: 1px solid #90182B;
}

div.events_menu:hover {
  transform: scale(.8);
  transition: ease 1s;
}

div.submit_event_menu {
  background-color: #061930;
  border: 1px solid #061930;
}

div.submit_event_menu:hover {
  transform: scale(.8);
  transition: ease 1s;
}

div.profile_menu {
  background-color: #B8A5AE;
  border: 1px solid #B8A5AE;
}

p {
  color: #8900f2;
  font-family: 'Open Sans Condensed';
  font-size: 16px;
}

#wi19874 {
  border: 1px solid #90182B;
  display: block;
  width: 500px;
  height: 270px;
  margin-left: 30px;
}

#gh6268 {
  list-style: none;
  display: block;
  border: none;
  padding: 10px;
  color: white;
  letter-spacing: 2px;
}

#jd8765 {
  display: inline-block;
}

#hd7652 {
  display: inline-block;
}

h2 {
  color: #c1c1bb;
  position: relative;
}

textarea {
  position: relative;
}

#title {
    font-family: 'Permanent Marker';
    font-size: 80px;
    margin: 0;
}
