<<<<<<< HEAD
=======
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
>>>>>>> 54bd832e044d540064c60eb9ae688fd4ffad3e24
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

body {
  background-color: #B8A5AE;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #EEE9E9;
}

div.head_title {
<<<<<<< HEAD
  position: relative;
  top: 0px;
}

a {
  /*text-decoration: none;*/
  color: #EEE9E9;
}

h1 {
  font-size: 30px;
}

div.title {
  display: inline-block;
  position: fixed;
  bottom: 0px;
  left: 30px;
=======
  position: absolute;
  top: 0px;
}

#title {
  font-family: 'Permanent Marker';
  font-size: 80px;
  margin: 0;
>>>>>>> 54bd832e044d540064c60eb9ae688fd4ffad3e24
}

div.menus {
  display: inline-block;
  position: fixed;
  top: 0;
  right: 0;
  margin-left: 100%;
  font-family: 'Open Sans Condensed';
}

<<<<<<< HEAD
div.home_menu, div.events_menu,
=======
a {
  text-decoration: none;
  color: #EEE9E9;
}

div.home_menu, div.about_menu, div.events_menu,
>>>>>>> 54bd832e044d540064c60eb9ae688fd4ffad3e24
div.submit_event_menu, div.profile_menu {
  display: inline-block;
  height:100px;
  width: 350px;
  left: 0;
  padding-top: 10px;
  padding-left: 15px;
  font-size: 40px;
  font-weight: lighter;
  letter-spacing: 5px;
  font-family: 'Open Sans Condensed';
}

div.home_menu {
  background-color: #0F355A;
  border: 1px solid #0F355A;
}

div.home_menu:hover {
  transform: scale(.8);
  transition: ease 1s;
}

div.events_menu {
  background-color: #90182B;
  border: 1px solid #90182B;
}

div.events_menu:hover {
  transform: scale(.8);
  transition: ease 1s;
}

div.submit_event_menu {
  background-color: #061930;
  border: 1px solid #061930;
}

div.submit_event_menu:hover {
  transform: scale(.8);
  transition: ease 1s;
}

div.profile_menu {
  background-color: #B8A5AE;
  border: 1px solid #B8A5AE;
}

<<<<<<< HEAD
=======
p {
  color: #8900f2;
  font-family: serif;
  font-size: 16px;
  letter-spacing: 4px;
  color: white;
}

#hj8769 {
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
  text-align: center;
  display: inline-block;
  list-style: none;
  background-color: white
}

h1 {
  border: 0;
  display: inline;
  color: #aaf237;
  font-size: 36px;
  font-weight: 100;
  font-family: dosif;

}

>>>>>>> 54bd832e044d540064c60eb9ae688fd4ffad3e24
p {
  color: #8900f2;
  font-family: 'Open Sans Condensed';
  font-size: 16px;
}

#wi19874 {
  border: 1px solid #90182B;
  display: block;
  width: 500px;
  height: 270px;
  margin-left: 30px;
}

#gh6268 {
  list-style: none;
  display: block;
  border: none;
  padding: 10px;
  color: white;
  letter-spacing: 2px;
}

#jd8765 {
  display: inline-block;
}

#hd7652 {
  display: inline-block;
}

h2 {
  color: #c1c1bb;
  position: relative;
}

textarea {
  position: relative;
}

#title {
    font-family: 'Permanent Marker';
    font-size: 80px;
    margin: 0;
}
