@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

body {
  background-color: #061930;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #EEE9E9;
}

b{
  text-indent: 10px;
}

a {
  text-decoration: none;
  color: #EEE9E9;
}

#title {
  font-family: 'Permanent Marker';
  font-size: 80px;
  padding: 0;
  margin: 0;
}

div.head_title {
  position: absolute;
  top: 0px;
}

div.title {
  display: inline-block;
  position: fixed;
  bottom:0px;
  letter-spacing: 10px;
  right: 30px;
}

div.menus {
  display: inline-block;
  position: fixed;
  top: 0;
  right: 0;
  margin-left: 100%;
}

div.home_menu, div.about_menu, div.events_menu,
div.submit_event_menu, div.profile_menu {
  display: inline-block;
  height:100px;
  width: 350px;
  left: 0;
  padding-top: 10px;
  padding-left: 15px;
  font-size: 40px;
  font-weight: lighter;
  letter-spacing: 5px;
}

div.home_menu {
  background-color: #0F355A;
  border: 1px solid #0F355A;
}

div.home_menu:hover {
  transform: scale(.8);
  transition: ease 1s;
}

div.events_menu {
  background-color: #90182B;
  border: 1px solid #90182B;
}

div.events_menu:hover {
  transform: scale(.8);
  transition: ease 1s;
}

div.submit_event_menu {
  background-color: #061930;
  border: 1px solid #061930;
}

div.profile_menu {
  background-color: #B8A5AE;
  border: 1px solid #B8A5AE;
}

div.profile_menu:hover {
  transform: scale(.8);
  transition: ease 1s;
}

form {
  position: absolute;
  display: inline-block;
  border-left: 6px solid white;
  width: 500px;
  top: 200px;
  left: 0px;
  padding: 20px;
  margin: 5px;
  font-size: 30px;
}

#submit {
  position: relative;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  left: 20px;
  bottom: 60px;
  outline:none;
  color: white;
  font-size: 20px;
}

#button {
  position: absolute;
  display: inline-block;
}

div.line, div.line2, div.line3, div.line4, div.line5, div.line6 {
  border-left: 10px dotted white;
  height: 50px;
  margin: 10px;
  display: inline-block;
  position: relative;
  left: 170px;
}

div.line2 {
  opacity: .8;
}

div.line3 {
  opacity: .6;
}

div.line4 {
  opacity: .4;
}

div.line5 {
  opacity: .2;
}

div.line6 {
  opacity: .1;
}

article {
  background-color: #c42f46;
  position: relative;
  border: 1px solid invisible;
  width: 700px;
  padding-left: 50px;
  background: linear-gradient(to left, rgba(184, 165, 174,0), rgba(184, 165, 174,1));
}

#submit {
  background-color: #c42f46;
}

#quotebox {
  position: relative;
  border: 1px solid white;
  top: 250px;
  left: 875px;
  width: 150px;
  height: 285px;
  text-align: center;
  padding: 10px;
  font-size: 20px;
}
