body {
  background-color: #B8A5AE;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #EEE9E9;
}

a {
  text-decoration: none;
  color: #EEE9E9;
}

div.menus {
  display: inline-block;
  position: fixed;
  top: 20%;
  right: 0;
  margin-left: 100%;
}

div.home_menu, div.about_menu, div.events_menu,
div.submit_event_menu, div.profile_menu {
  display: inline-block;
  height:100px;
  width: 350px;
  left: 0;
  padding-top: 10px;
  padding-left: 15px;
  font-size: 40px;
  font-weight: lighter;
  letter-spacing: 5px;
}

div.home_menu {
  background-color: #0F355A;
  border: 1px solid #0F355A;
}

div.events_menu {
  background-color: #90182B;
  border: 1px solid #90182B;
}

div.submit_event_menu {
  background-color: #B8A5AE;
  border: 1px solid #B8A5AE;
}

div.profile_menu {
  background-color: #061930;
  border: 1px solid #061930;
}

#submit_event {
  position: absolute;
  display: inline-block;
  border: 1px solid black;
  width: 500px;
  padding: 10px;
  margin: 5px;
}

#meta_details {
  display: inline-block;
  position: relative;
}

#specific_details {
  display: inline-block;
  position: relative;
}

footer {
  border-top: 1px solid white;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  margin-top: 50px;
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 12px;
  font-style: italic;
  text-indent: 15px;
}
