<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create User</title>
    <link rel='stylesheet' href='/styles/stylesheet.css'>
  </head>
  <body>

  <form id='create_user' action='/create_user' method='post'>
    <input type='text' name='real_name' value='real_name'>
    <input type='text' name='screen_name' value='screen_name'>
    <input type='text' name='user_email' value='user_email'>
    <input type='password' name='user_password' value=user_password>
    <input type='submit' value='Submit'>
  </form>

  <input >
</form>
  </body>
</html>
