<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Events Feed</title>
    <link rel='stylesheet' href='/styles/stylesheet.css'/>
    <script src='/scripts/scripts.js'></script>
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
</head>
  <body>
    <h1>Events</h1>
    {% for event in events %}
    <article class='event'>
      <span class='event_name'>{{ event.event_name }}</span>
      <span class='event_location'>{{ event.event_location }}</span>
      <span class='event_date'>{{ event.event_date }}</span>
      <span class='event_description'>{{ event.event_description }}</span>
      <span class='event_category'>{{ event.event_category }}</span>
    </article>
    {% endfor %}

  </body>
</html>
