<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel='stylesheet' href='/styles/home2.css'>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="/scripts/calendar.js"></script>
    <title>Home Page</title>
</head>
  <body>
    <div class='head_title'>
    <h1 id='title'>
      Lion's Roar
    </h1>
  </br>
    {{ greeting }}
    </div>

    <div class='menus'>
      <div class='home_menu'>Home</div>
      <a href='/events'><div class='events_menu'>Events</div></a>
      <a href='/submit_event'><div class='submit_event_menu'>Submit Event</div></a>
      <a href='/profile'><div class='profile_menu'>Profile</div></a>
    </div>

    <div id='newsfeed'>
      <h2 id='newsfeedtitle'><em> NewsFeed </em></h2>
        <div id='eventitem'>
          <h3> event_name </h3>
          <p>
            {{ datetime }}
            Lorem ipsum dolor sit amet, posse epicurei ad pro, dolor tation elaboraret ius id.
          </p>
        </div>
    </div>

    <div id="calendar">
          <p>Search for events by date:</p>
          <input type="date" id="date-picker">
          <div id="search-results">
          </div>
        </div>

  </body>
</html>
