<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel='stylesheet' href='/styles/home2.css'>
    <title>Home Page</title>
</head>
  <body>

    <div id='header'>
      <h1><em>LION'S ROAR</em></h1>
      <p><em>"For Liberty and Justice for all..." </em></p>
        {{ greeting }}
    </div>
    <div class='menus'>
      <a href='/'><div class='home_menu'>Home</div></a>
        </br>
      <a href='/events'><div class='events_menu'>Events</div></a>
        </br>
      <a href='/submit_event'><div class='submit_event_menu'>Submit Event</div></a>
        </br>
      <a href='/profile'><div class='profile_menu'>Profile</div></a>
    </div>

    <div id='newsfeed'>





  </body>
</html>
