<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Movement Glossary</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href='/'>Home</a>
        <li><a href='/about'>About</a>
        <li><a href='/events'>Events</a>
        <li><a href='/submit_event'>Submit Event</a>
        <li><a href='/profile'>Profile</a>
      </ul>

    <h1>Ableism:</h1>
      <p>
        Ableism is the intentional and unintentional discrimination against
        people with disabilities.  These disabilities are physical and mental.
        This discrimination comes in multiple forms such as institutionalized
        discrimination or social prejudice.  An example of institutionalized
        ableism is government buildings that do not provide accessibility to
        those with mobility problems.  On the other hand, an example of social
        prejudice is when people use the term “retarded”.  Using this word
        alienates and offends people with intellectual and developmental
        disabilities as well as emphasizing negative stereotypes about them.
      </p>
    </body>
</html>
