<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Profile</title>
    <link rel='stylesheet' href='/styles/profile.css'>
  </head>
  <body>

        <nav id='a993551'>
        <h1><em> YOUR PROFILE </em></h1><br>
        <p><em> "L i b e r t y  and  j u s t i c e  for  all. . ." </em></p>
            <ul>
              <li id="hj8769"><a href='/'>Home</a>
              <li id="hj8769"><a href='/about'>About</a>
              <li id="hj8769"><a href='/events'>Events</a>
              <li id="hj8769"><a href='/submit_event'>Submit Event</a>
              <li id="hj8769"><a href='/profile'>Profile</a>
            </ul>
        </nav>

        <p>
          <div id='hd7652'>
            <img src="http://3.bp.blogspot.com/-uCOOAzMHANo/Tc-Gn4ziU5I/AAAAAAAAA-Y/sn0zOmfISns/s1600/AWESOME%2BFACEBOOK%2BPROFILE%2BPICTURES1.jpg"</img>
          </div>
        <div id='jd8765'>
          <p>
            <form action='/profile' method='post'>
              <ul id='wi19874'>
                <li id='gh6268'>Name:<input type='text' value="{{ name }}"  name='name'>
                <li id='gh6268'>Affiliated Group:<input type='text' name='affiliated.group'>
                <li id='gh6268'>Interested in:<input type='text' name='interests'>
                <li id='gh6268'>Gender:<input type='text' name='gender'>
                <li id='gh6268'>Orientation:<input type='text' name='orientation'>
                <li id='gh6268'>Pronouns:<input type='text' name='pronouns'>
              <input type='submit' value='Update'>
            </form>
        </div>

        <p>
          <h2>About lil' ol' me:<br>
          <textarea rows='6' cols='150'></textarea>



  </body>
</html>
