<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create an Event</title>
    <link rel='stylesheet' href='/styles/submit_event.css'/>
    <script src='/scripts/scripts.js'></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300"
    rel="stylesheet">

  </head>

  <body>

<div class='title'>
<h1>
L
i
o
n
'
s

R
o
a
r
</h1>
</div>

    <div class='menus'>
      <a href='/'><div class='home_menu'>Home</div></a>
        </br>
      <a href='/events'><div class='events_menu'>Events</div></a>
        </br>
      <div class='submit_event_menu'>Submit Event</div>
        </br>
      <a href='/profile'><div class='profile_menu'>Profile</div></a>
    </div>

  <form action='/submit_event' method='post'/>
      <input id='event_name' class='event_input' type='text'
        name='event_name' placeholder='Event Name' maxlength='50' required/>
        <input id='event_category' class='event_input' type='text'
          name='event_category' placeholder='Category' maxlength='50' required/>
        </br>
      <input  id='event_location' class='event_input' type='text'
        name='event_location' placeholder='Location' maxlength='50' required/>
      <input id='event_date' class='event_input' type='datetime-local'
        name='event_date' required/>
      </br>
      <textarea id='event_description' class='event_input' type='textarea'
        name='event_description' placeholder='Description'
        rows='10' cols='30' maxlength='500' required/></textarea>
        <input id='submit' class='event_input' type='submit' value='Submit'/>
  </form>

  </body>
</html>
